@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('https://checkout-test.netlify.com/wcd/develop/assets/fonts/DINNextLTPro-Regular.eot');
    src: url('https://checkout-test.netlify.com/wcd/develop/assets/fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://checkout-test.netlify.com/wcd/develop/assets/fonts/DINNextLTPro-Regular.woff2') format('woff2'),
        url('https://checkout-test.netlify.com/wcd/develop/assets/fonts/DINNextLTPro-Regular.woff') format('woff'),
        url('https://checkout-test.netlify.com/wcd/develop/assets/fonts/DINNextLTPro-Regular.ttf') format('truetype'),
        url('https://checkout-test.netlify.com/wcd/develop/assets/fonts/DINNextLTPro-Regular.svg#DINNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('https://checkout-test.netlify.com/wcd/develop/assets/fonts/DINNextLTPro-Bold.eot');
    src: url('https://checkout-test.netlify.com/wcd/develop/assets/fonts/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://checkout-test.netlify.com/wcd/develop/assets/fonts/DINNextLTPro-Bold.woff2') format('woff2'),
        url('https://checkout-test.netlify.com/wcd/develop/assets/fonts/DINNextLTPro-Bold.woff') format('woff'),
        url('https://checkout-test.netlify.com/wcd/develop/assets/fonts/DINNextLTPro-Bold.ttf') format('truetype'),
        url('https://checkout-test.netlify.com/wcd/develop/assets/fonts/DINNextLTPro-Bold.svg#DINNextLTPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
