// Hyperlinks
@mixin all-link-pseudos($link-color) {
    color: $link-color;
    text-decoration: underline;
    text-decoration-skip-ink: auto;

    &:link {
        color: $link-color !important;
    }
    &:visited {
        color: lighten($link-color, 8%) !important;
    }
    &:hover {
        color: darken($link-color, 8%) !important;
    }
    &:active {
        color: $link-color !important;
    }
}

// Buttons
@mixin all-button-pseudos($color, $gradient, $button--gradient-direction) {
    background-color: $color !important;
    background-image: linear-gradient($button--gradient-direction, $color, $gradient) !important;
    color: $white !important;

    &:focus,
    &:hover {
        background-color: darken($color, 4%) !important;
        background-image: linear-gradient($button--gradient-direction, $gradient, $color) !important;
    }
    &:active {
        background-color: darken($color, 8%) !important;
        background-image: linear-gradient($button--gradient-direction, $color, $gradient) !important;
    }
}

@mixin all-outline-button-pseudos($color) {
    background-color: transparent !important;
    box-shadow: inset 0 0 0 1px $color;
    color: $color !important;

    &:focus,
    &:hover {
        box-shadow: inset 0 0 0 1px darken($color, 4%) !important;
        color: darken($color, 4%) !important;
    }
    &:active {
        box-shadow: inset 0 0 0 1px darken($color, 8%) !important;
        color: darken($color, 8%) !important;
    }
}

@mixin button-style($radius) {
    border-radius: $radius;
}
