// BREAKPOINT MD
// Tablet
// 768px – 991px

.hidden-for-mobile {
    display: none !important;
}

.hidden-for-md {
    display: none !important;
}

.hidden-for-desktop {
    display: block;
}

@media (min-width: $breakpoint-md) {
    /* autoprefixer grid: autoplace / / autoprefixer grid: on */

    // #app {
    // grid-template-areas: ; // Removed until login  works
    //     // "steps login" 'steps cart-review' 'create-account cart-review' 'buy-button cart-review';
    // }

    #app.logged-in {
        grid-template-areas: 'steps cart-review' 'create-account cart-review' 'buy-button cart-review';
    }

    #app {
        display: grid;
        grid-template-columns: 5fr 4fr;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
        grid-gap: calc(var(--base-gutter-size) * 0.5);
        max-height: -moz-fit-content;
        max-height: fit-content;
    }

    aside {
        grid-column-start: 2;
        grid-row-start: 1;
        display: grid;
        grid-gap: calc(var(--base-gutter-size) * 0.5);
        position: sticky;
        top: 24px;
        max-height: -moz-fit-content;
        max-height: fit-content;
    }

    .hidden-for-desktop {
        display: none !important;
    }

    .hidden-for-mobile {
        display: block !important;
    }
}
